.container {
    background: #f0f2f5;
}

.form-section {
    padding: 0 20px;
    margin-bottom: 20px;
    background: #fff;
}

.chart-section {
    padding: 20px;
    min-height: calc(100vh - 212px);
    background: #fff;
}

.jump-section {
    margin-top: 240px;
    padding: 30px 20px 0;
    background: rgba(249, 250, 252, 1);
    .title {
        color: #000;
        font-weight: bold;
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 6px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
        &:last-child {
            border-bottom: 0;
        }
    }
}

.operation-box {
    display: flex;
    justify-content: space-between;
    .btn {
        margin-right: 6px;
    }
}
