.channel-img {
    width: 80px;
    height: 80px;
}

.channel-export-modal {
    width: 600px !important;
    max-width: 90%;
}

.channel-ship-modal {
    width: 800px !important;
    max-width: 90%;
}
