.config{
    &-card{
        margin-top: 20px;
    }
    &-colon{
        margin: 0 10px;
    }
    &-btn{
        &-default{
            min-width: 80px;
            height: 46px;
            & ~ & {
                margin-left: 20px;
            }
        }
    }
}
