.goods-local {
    padding: 20px;
}

.goods-table {
    margin-top: 20px;
}

.goods-pagination {
    margin-top: 20px;
    text-align: right;
}

.local-search {
    display: flex;
    flex-wrap: wrap;
    &-label {
        margin-right: 8px;
        white-space: nowrap;
    }
    &-item {
        display: flex;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 20px;
        &-input, &-select {
            width: 200px;
            &-min {
                width: 80px;
            }
        }
        &-btn {
            width: 120px;
        }
        &-join {
            margin: 0 12px;
        }
    }    
}