@divisionSpacing: 6px;
@btnSpacing: 12px;
@inputWidth: 140px;
@inputLabel: 100px;

.order {
    &-wrap {
        // padding: 12px;
    }
    &-division {
        margin: 0 @divisionSpacing;
        font-size: 17px;
    }
    &-time {
        margin-right: 0 !important;
    }
    &-table {
        margin-top: 10px;
    }
    &-goods-content {
        > div {
            margin: 10px 0;
        }
        .img-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .img-wrap {
            margin-left: 30px;
            span {
                display: inline-block;
                width: 90px;
                text-align: right;
                vertical-align: -3px;
            }
        }
        img {
            height: 80px;
        }
        .style + .style {
            margin-left: 6px;
        }
        .float-left {
            margin-right: 10px;
        }
    }
    &-goods-none {
        text-align: center;
    }

    &-form-item {
        margin-bottom: 16px !important;
    }
    &-operation {
        margin: 8px 0;
    }
    &-input {
        width: @inputWidth !important;
    }
    &-date-picker {
        width: 192px;
    }
    &-label {
        display: inline-block;
        width: @inputLabel;
    }
    &-btn {
        width: 120px;
    }
    &-btn {
        margin-right: 12px;
        margin-bottom: 10px;
    }
    &-optional-column {
        .all {
            display: flex;
            align-items: center;
            margin: 20px 0 6px;
        }
        strong {
            margin-right: 6px;
        }
        .checkbox-item {
            width: 160px;
            margin-left: 0 !important;
            margin-right: 8px;
        }
    }
    &-err-detail {
        margin: 10px 0 10px;
        strong {
            float: left;
            width: 80px;
        }
        .wrap {
            overflow: hidden;
        }
        .radio-group {
            white-space: normal;
        }
        .checkbox-item {
            margin-left: 0 !important;
            margin-right: 8px;
            width: 130px;
        }
    }
    &-pagination {
        margin: 20px 0;
    }
    &-img-auto {
        width: 100%;
    }
    &-qr {
        &-small {
            width: 40px;
            height: 40px;
            // margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        &-enlarge {
            width: 300px;
            height: 300px;
        }
    }
}
