@cardSpacing: 20px;

.product {
    &-card {
        margin-top: @cardSpacing!important;
    }

    &-modal {
        width: 80% !important;
        max-width: 1000px;

        &-close {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;

        }
        &-item{
            & ~ &{
                margin-left: 16px;
            }
        }
        &-specs{
            line-height: 24px!important;
            &-ellipse{
                width: 100px;
                //overflow: hidden;
                //text-overflow: ellipsis;
                text-align: left!important;
            }
        }

        &-value {
            font-size: 12px;
            color: #999999;
        }

        &-avatar {
            width: 80px;
            height: 80px;
            display: inline-block;
            vertical-align: middle;
            &-small {
                width: 60px;
                height: 60px;
                display: inline-block;
            }
        }
        &-name{
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left!important;
        }
    }

    &-text{
        display: inline-block;
        width: 150px;
        font-size: 12px;
        color: #666666;
    }
}
