.stock{
    &-form{
        &-label{
            width: 70px;
            display: inline-block;
        }
        &-picker{
            width: 187px;
        }
    }
    &-img{
        max-width: 60px;
        max-height: 60px;
    }
}
