.stock {
    &-form {
        &-label {
            width: 110px;
            display: inline-block;
        }
        &-picker {
            width: 207px;
        }
    }
    &-img {
        width: 77px;
        height: 77px;
        max-width: 77px;
        max-height: 77px;
    }
}
