@import "~antd/es/style/themes/default";
.task{
    &-justify{
        &-1{
            width:2em;
            text-align:right;
            display:inline-block
        }
    }
    &-progress{
        margin-right: 10px;
    }
    &-picker{
       width: 180px;
        &-time{
            width: 200px;
        }
    }
    &-add{
        color: @primary-color;
        font-size: 26px;
        cursor: pointer;
        vertical-align: middle;
        margin-left: 16px;
    }
    &-require{
        padding-left: 11px!important;
    }
}
