.title {
    margin-bottom: 14px;

    .desc {
        display: inline-block;
        margin-left: 40px;
    }
}

.image {
    width: 48px;
    height: 48px;
}

.content {
    margin-left: 10px;
}

.order {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.02);
}

.header {
    margin-bottom: 12px;
}

.key {
    color: #000;
}

.name {
    margin-bottom: 10px;
}

.gather {
    margin-bottom: 20px;
}

.title1 {
    color: rgba(0, 0, 0, 0.85);
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
}

.modal {
    width: 1000px !important;
    max-width: 90%;

    &-content {
        min-height: 300px;
    }
}

.type-error {
    :global .ant-form-item-explain {
        z-index: 200;
        left: 170px;
    }
}

.goods-info {
    margin: 6px 20px 0 0;
}

.similar-list {
    margin: 20px 0;

    .title {
        margin-bottom: 10px;
    }

    .pagination {
        margin-top: 10px;
    }

    .image {
        width: 100px !important;
        height: 100px !important;
    }
}
