.goods-sku-dialog {
    margin-top: 16px;
    .goods-info {
        position: relative;
        // display: flex;
        padding-left: 112px;
        // overflow: hidden;
        height: 100px;
        a {
            position: absolute;
            top: 0;
            right: 0;
        }
        span {
            display: inline-block;
            width: 280px;
        }
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
    }
    .desc {
        position: relative;
        display: inline-block;
        max-width: 100%;
        text-overflow :ellipsis;
        white-space :nowrap;
        overflow : hidden;
        padding-right: 100px;
    }
    .center {
        margin: 14px 0;
    }
    .table {
        margin-top: 20px;
    }
    .ant-pagination {
        margin-top: 10px;
    }
}