.connect-input {
    width: 300px !important;
}

.image {
    width: 77px !important;
    height: 77px !important;
}

.paragraph {
    margin-bottom: 0 !important;
}

.product {
    &-desc {
        margin-left: 10px;
        text-align: left;
    }
}

.form-item {
    width: 90px;
}
