.goods-edit {
    &-item {
        display: flex;
        margin: 20px 0;
        .label {
            // width: 116px;
            white-space: nowrap;
            margin-right: 16px;
        }
        .textarea {
            width: 500px;
        }
        .select {
            width: 160px;
            margin-right: 30px;
        }
        &-center {
            align-items: center;
        }
        &-top {
            .label {
                padding-top: 5px;
            }
        }
    }
    &-img {
        display: flex;
        p {
            text-align: center;
        }
        .first {
            flex: 0 0 200px;
            width: 200px;
            margin-right: 16px;
            img {
                width: 100%;
            }
        }
        .secondary {
            flex: 1;
            img {
                width: 100px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            .img-box {
                position: relative;
            }
            .item {
                margin: 0 16px 16px 0;
            }
            .close {
                position: absolute;
                top: 3px;
                right: 3px;
                color: #ff411c;
            }
        }
        &-btns {
            margin-left: 86px;
        }
        &-btn {
            & ~ & {
                margin-left: 10px;
            }
        }
        &-desc {
            font-size: 12px;
            margin-top: 10px;
            margin-left: 86px;
        }
        &-label {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.85);
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            text-align: center;
        }
    }
}
