@import '~antd/es/style/themes/default';

.tag-section {
    margin: 20px 0 30px;
    overflow: hidden;
}

.add-box {
    position: relative;
    width: 200px;
    height: 32px;
    padding: 3px 56px 3px 4px;
    border: 1px dashed @normal-color;
    border-radius: 2px;
}

.item {
    float: left;
    margin-right: 12px;
}

.btn-add {
    position: absolute;
    top: 3px;
    right: 4px;
}

.input {
    height: 100%;
    border: 0;
    // outline: 0;
    &:focus {
        border: 0 !important;
        box-shadow: none !important;
    }
}

.save-btn {
    margin-right: 20px;
}

.edit-box {
    position: relative;
    width: 200px;
    height: 32px;
    padding: 3px 56px 3px 4px;
    border: 1px dashed @normal-color;
    border-radius: 2px;
}

.btn-update {
    position: absolute;
    top: 3px;
    right: 58px;
}

.btn-del {
    position: absolute;
    top: 3px;
    right: 4px;
}

.icon {
    display: inline-block;
    margin-left: 6px;
}
