html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.relative{
    position: relative;
}


.ant-pro-basicLayout-content{
    background: #fff;
}

/****************fix pro table style**************/
.ant-pro-table .ant-table-row .ant-table-cell:first-child {
    padding: 16px 16px!important;
}
