html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.relative {
    position: relative;
}

.ant-pro-basicLayout-content {
    background: #fff;
}

* {
    outline: none;
}

.ant-pro-table .ant-popover-inner-content {
    max-height: 400px;
    overflow: auto;
}

.break-all {
    word-break: break-all;
}

.form-hide-label .ant-form-item-label {
    visibility: hidden;
}

.form-hide-label .ant-form-item-label {
    visibility: hidden;
}

.ant-tabs-tab {
    font-weight: 400 !important;
}
