html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.relative {
    position: relative;
}

.ant-pro-basicLayout-content {
    background: #fff;
}

* {
    outline: none;
}

.ant-pro-table .ant-popover-inner-content {
  max-height: 400px;
  overflow: auto;
}
