@labelWidth: 100px;

.pane-content {
    margin-top: -20px;
}

.hover {
    &:hover {
        text-decoration: underline !important;
    }
}

.form-container {
    .title {
        margin: 30px 0;
        color: #000;
        font-weight: bold;
    }

    .item {
        width: 400px;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .none-margin {
        :global {
            .ant-form-item {
                margin-bottom: 0 !important;
            }
        }
    }

    .gutter {
        margin: 0 10px;
    }

    .extra {
        margin-left: 6px;
    }

    .item-margin {
        margin-right: 40px;
    }

    .custom-label {
        :global {
            .ant-form-item-label {
                width: @labelWidth  !important;
            }
        }
    }

    .btn-container {
        margin-left: @labelWidth  !important;

        .cancel {
            margin-right: 20px;
        }
    }
}
